:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
  --background-color-hero: #2f303a;
  --hero-title-color: #ffffff;
  --background-color-team: #f5f4fa;
  --link-color: #2196f3;
  --btn-color: #188ce8;
  --soc-link: #ffffff;
  --soc-icon: #afb1b8;
  --company: #2196f3;
  --team-social__link: #2196f3;
  --team-social-icon: #ffffff;
  --card-link: translateY(-100%);
  --portfolio-item: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin-left: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.body {
  font-family: "Roboto", sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.list {
  list-style: none;
  margin: 0;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color var(--duration) var(--timing-function);
}
.logo:hover, .logo:focus {
  color: #2196f3;
}

.logo__web {
  color: #2196f3;
}

.logo__studio {
  color: #000000;
  transition: color var(--duration) var(--timing-function);
}
.logo__studio:hover, .logo__studio:focus {
  color: #2196f3;
}

.header {
  letter-spacing: 0.02em;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header--container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header--container {
    padding: 10px 15px;
  }
}

.contacts {
  display: none;
  column-gap: 30px;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

.contacts--margin {
  margin-left: auto;
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
  transition: color var(--duration) var(--timing-function);
}
@media screen and (max-width: 1199px) {
  .contacts__link {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--link-color);
}

.contacts__icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .icon--mail {
    width: 14px;
  }
}

@media screen and (max-width: 1199px) {
  .icon--tel {
    height: 14px;
  }
}

.btnmenu {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .btnmenu {
    display: none;
  }
}

.btnmenu-open {
  margin-left: auto;
}
.btnmenu-open:hover, .btnmenu-open:focus {
  fill: var(--btn-color);
}

.btnmenu-close {
  position: absolute;
  top: 10px;
  right: 15px;
}
.btnmenu-close:hover, .btnmenu-close:focus {
  fill: var(--btn-color);
}

.navsite--margin {
  margin-left: 90px;
}

.navsite__list {
  display: none;
  column-gap: 50px;
}
@media screen and (min-width: 768px) {
  .navsite__list {
    display: flex;
  }
}

.navsite__item {
  position: relative;
}

.navsite__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121 transition color var(--duration) var(--timing-function);
}
.navsite__link:hover, .navsite__link:focus {
  color: var(--link-color);
}
.navsite__link.current {
  color: var(--link-color);
}
.navsite__link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--link-color);
  border-radius: 2px;
}

.mobmenu {
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  transition: opacity var(--duration) var(--timing-function), visibility var(--duration) var(--timing-function), transform 500ms var(--timing-function);
}
@media screen and (min-width: 480px) {
  .mobmenu {
    font-size: 40px;
    line-height: 1.175;
  }
}
.mobmenu.is-hidden {
  transform: translateY(-100%);
}

.mobmenu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobmenu-nav__link {
  color: #212121;
}
.mobmenu-nav__link.current {
  color: #2196f3;
}

.mobmenu-contacts__link-tel {
  font-size: 24px;
  line-height: 1.176;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .mobmenu-contacts__link-tel {
    font-size: 34px;
    line-height: 1.1764705882;
  }
}

.mobmenu-contacts__link-mail {
  margin-top: 32px;
  font-size: 17px;
  line-height: 1.166;
  color: #212121;
}
@media screen and (min-width: 480px) {
  .mobmenu-contacts__link-mail {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}

.mobmenu-soc {
  margin-top: 32px;
  display: flex;
}
@media screen and (min-width: 480px) {
  .mobmenu-soc {
    margin-top: 64px;
  }
}

.mobmenu-soc__item:not(:last-child) .mobmenu-soc__link {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 3px;
  padding-right: 3px;
}
@media screen and (min-width: 480px) {
  .mobmenu-soc__item:not(:last-child) .mobmenu-soc__link {
    margin-right: 10px;
    padding-right: 10px;
  }
}

.mobmenu-soc__link {
  font-size: 13px;
  line-height: 1.1;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .mobmenu-soc__link {
    font-size: 18px;
    line-height: 1.2222222222;
  }
}

.hero {
  text-align: center;
  background-color: #2f303a;
  background-color: var(--background-color-hero);
  padding-bottom: 118px;
  padding-top: 118px;
  height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
  max-width: 1600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
  color: var(--hero-title-color);
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  display: block;
  margin: 30px auto 0;
  padding: 10px 32px;
  border: 0;
  transition: background-color var(--duration) var(--timing-function);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--btn-color);
}

.column {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .column {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .column {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.column__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .column__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .column__item {
    width: calc((100% - 90px) / 4);
  }
}

.column__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}

.column__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.work {
  display: flex;
  align-items: center;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  gap: 30px;
}

.work__item {
  display: flex;
  position: relative;
}

.box__text {
  position: absolute;
  bottom: 0%;
  width: 370px;
  height: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 27px;
  padding-right: auto;
  padding-bottom: 27px;
  padding-left: auto;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
  background-color: var(--background-color-team);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-icon {
  content: "";
  width: 270px;
  height: 120px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--duration) var(--timing-function);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--link-color);
}

.team-soc-icon {
  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function);
}
.team-soc-link:hover .team-soc-icon {
  fill: var(--soc-link);
}
.team-soc-link:focus .team-soc-icon {
  fill: var(--soc-link);
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .team-title {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-after-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .client {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .client-title {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.client-item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    width: calc((100% - 150px) / 6);
  }
}

.company {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: border-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function);
}
.company:hover, .company:focus {
  border-color: var(--company);
  color: var(--company);
}

.company-icon {
  fill: #afb1b8;
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer .container {
    align-items: flex-start;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    flex-wrap: nowrap;
  }
}

.footer-logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-logo-name {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.addres {
  font-style: normal;
  margin-top: 20px;
}

.footer-addres {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-addres {
    white-space: nowrap;
  }
}

.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.social-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.team-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--duration) var(--timing-function), fill var(--duration) var(--timing-function);
}
.team-social-link:hover, .team-social-link:focus {
  background-color: var(--team-social__link);
}

.team-social-icon {
  fill: #ffffff;
}
.team-social__link:hover .team-social-icon {
  fill: var(--team-social-icon);
}
.team-social__link:focus .team-social-icon {
  fill: var(--team-social-icon);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-title {
    text-align: left;
  }
}

.footer-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.footer-form button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    align-items: flex-start;
  }
}

.footer-input {
  width: 100%;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
  color: #ffffff;
  padding: 15px;
  outline: transparent;
  transition: border-color var(--duration) var(--timing-function);
}
.footer-input:hover, .footer-input:focus {
  border-color: #2196f3;
}
@media screen and (min-width: 768px) {
  .footer-input {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    max-width: 358px;
  }
}

.footer-btn {
  cursor: pointer;
  padding: 10px 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  transition: background-color var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);
}
.footer-btn:hover, .footer-btn:focus {
  background-color: #188ce8;
}

.footer-icon {
  fill: #ffffff;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .form-wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .form-wrapper {
    width: auto;
    flex: 1 1 auto;
    margin-left: 93px;
    margin-top: 0;
  }
}

.footer-info {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-info {
    margin-bottom: 0;
    flex: 0 1 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-info {
    flex: 0 1 auto;
    max-width: none;
    text-align: left;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .social {
    flex: 0 1 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    flex: 0 1 auto;
    max-width: none;
  }
}

.social {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .social {
    flex: 0 1 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .social {
    flex: 0 1 auto;
    max-width: none;
    text-align: left;
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header-list-portfolio {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: 93px;
}

.header-list-contact {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-item-portfolio {
  display: flex;
  align-items: center;
  gap: 10px;
}

.portfolio-icon {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-container-portfolio {
  margin-left: auto;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .portfolio-list {
    row-gap: 15px;
    max-width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    margin-bottom: 50px;
  }
}

.portfolio-list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.portfolio-item {
  background: #ffffff;
  transition: box-shadow var(--duration) var(--timing-function);
}
.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: var(--portfolio-item);
}

.card {
  position: relative;
  overflow: hidden;
}

.text-card {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--duration) var(--timing-function);
}
.card-link:hover .text-card {
  transform: var(--card-link);
}
.card-link:focus .text-card {
  transform: var(--card-link);
}

.portfolio-list-items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  transition: box-shadow var(--duration) var(--timing-function);
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: calc((100% - 60px) / 3);
  }
}
.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  border: 0;
  padding: 6px 22px;
  transition: background-color var(--duration) var(--timing-function), color var(--duration) var(--timing-function);
  box-shadow: var(--duration) var(--timing-function);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-item-bottom {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  background-color: #ffffff;
  max-width: 450px;
  min-height: 581px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
  padding: 40px;
  width: calc(100% - 30px);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  transition: fill var(--duration) var(--timing-function);
}
.modal-close:hover {
  fill: #2196f3;
}
.modal-close:focus {
  transition: fill var(--duration) var(--timing-function);
  fill: #2196f3;
}

.model-icon {
  color: #000000;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border-color var(--duration) var(--timing-function);
}
.modal-input:hover, .modal-input:focus {
  border-color: #2196f3;
}
.modal-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-icon {
  fill: #212121;
}

.modal-field {
  margin-bottom: 10px;
  position: relative;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  transition: border-color var(--duration) var(--timing-function);
}
.modal-text:hover, .modal-text:focus {
  border-color: #2196f3;
}
.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-icon {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translate(-50% -50%);
  left: 15px;
  transition: fill var(--duration) var(--timing-function);
}
.modal-input:hover + .form-icon, .modal-input:focus + .form-icon {
  fill: #2196f3;
}

.modal-btn {
  display: block;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.modal-btn:hover {
  transition: background-color var(--duration) var(--timing-function);
  background-color: #188ce8;
}
.modal-btn:focus {
  transition: background-color var(--duration) var(--timing-function);
  background-color: #188ce8;
}

.form {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .form {
    text-align: center;
  }
}

.form-label {
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
  width: 100%;
}
.form-label a {
  color: #2196f3;
}
.form-label span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  transform: translateY(-50%);
  transition: border-color var(--duration) var(--timing-function);
}
.modal-check:checked + .form-label span {
  background-color: #2196f3;
  border: none;
}
.modal-check:focus + .modal-check:checked + .form-label span {
  border-color: #2196f3;
}

.check-icon {
  fill: transparent;
}
.modal-check:checked + .form-label .check-icon {
  fill: #ffffff;
}

.modal-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #2196f3;
  letter-spacing: 0.03em;
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */