.column {
  padding-top: 60px;
  padding-bottom: 60px;
  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.column__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.column__item {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.column__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}

.column__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  max-width: 270px;
}
