.team {
  background-color: #f5f4fa;
  background-color: var(--background-color-team);
  padding-top: 60px;
  padding-bottom: 60px;
  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team-icon {
  content: "";
  width: 270px;
  height: 120px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--duration) var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--link-color);
  }
}
.team-soc-icon {
  fill: #afb1b8;
  transition: fill var(--duration) var(--timing-function);
  .team-soc-link:hover & {
    fill: var(--soc-link);
  }
  .team-soc-link:focus & {
    fill: var(--soc-link);
  }
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
  @include tablet {
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 30px;
  }
  @include desktop {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}
.team-after-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.info {
  padding-top: 30px;
  padding-bottom: 30px;
}
